# The Core Orchestrator
apache-airflow==2.8.1

# The Transformation Engine
dbt-core>=1.7.0
dbt-snowflake>=1.7.0

# The "Enterprise" Integration Layer for Airflow + dbt
astronomer-cosmos>=1.2.5

# Data Generation & Cloud Hooks
faker>=22.0.0
apache-airflow-providers-amazon  # For MinIO/S3 interaction
apache-airflow-providers-snowflake # For the "Bridge" connection
