# --- DEVOPS TOOLS ---
ansible>=2.9.0
ansible-core>=2.11.0
cffi
cryptography>=3.4.0
Jinja2>=3.0.0
MarkupSafe
packaging
pycparser
PyYAML
resolvelib

# --- AIRFLOW PROVIDERS ---
boto3
faker
apache-airflow-providers-snowflake

# --- THE STABLE FIX: USE DBT 1.8 ---
dbt-core~=1.8.0
dbt-snowflake~=1.8.0
